<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @order.employee.display_name %>!</h1>
    <p> You bought "<%= @order.reward.title %>", your order code: <%= @order.reward_code.code %></p>
    <br>
    <p>We wish you a nice day!</p>
  </body>
</html>
