<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @order.employee.display_name %>!</h1>
    <p> Your order "<%= @order.reward.title %>" was shipped to the address:</p>
    <%= @order.address.street + ", " + @order.address.postcode + " " + @order.address.city%>
    <br>
    <p>We wish you a nice day!</p>
  </body>
</html>
