<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= order.employee.email %>!</h1>
    <p> Your order "<%= order.reward.title %>" has been delivered.</p>
    <br>
    <p>We wish you a nice day!</p>
  </body>
</html>
