<h1>Rewards</h1>
<table class="table table-striped table-bordered w-auto shadow-sm">
  <thead  class="table-success">
    <tr class="text-center">
      <th>Title</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.price %></td>
        <td class="btn-group"><%= link_to ' Show', reward_path(reward), class:"bi bi-eye btn btn-outline-secondary btn-sm" %>
        <td class="btn-group"><%= link_to ' Buy', orders_path(reward: reward), method: :post, class:"bi bi-eye btn btn-outline-secondary btn-sm" %>
      </tr>
    <% end %>
  </tbody>
</table>
