<h1>Editing Admin Kudo</h1>

<%= render 'form', kudo: kudo %>
<br>
<%= link_to 'Back', admin_kudos_path, class:"btn btn-dark" %> |
<%= link_to 'Delete', admin_kudo_path(kudo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
