<h1>Editing Company value</h1>

<%= render 'form', company_value: company_value %>
<br>
<%= link_to 'Back', admin_company_value_path, class:"btn btn-dark" %> |
<%= link_to 'Delete', admin_company_value_path(company_value), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
