/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .card-1 {
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff
}

table tr#table__header th {
    background:#f0ad4e; color:rgb(255,255,255); font-weight: normal;
    box-shadow:#f0ad4e 2px 2px 10px;
}

table tr#table__header th:first-child, table tr.shadoww td {
    border-radius:10px 0 0 0; 
}

table tr#table__header th:last-child {
    border-radius:0 10px 0 0; 
}


